/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */

ingame-ui#FpmPanel.hideui {
    pointer-events:none;
    transition:none;
    background:none;
}

ingame-ui#FpmPanel.hidepanel {
    display:none;
}

#fpmdiv {
    text-align:center;
    font-size: var(--fontSizeMedium);
    font-weight:bold;
    flex-grow:0;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.fpmgfdiv {
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.green-text {
    color: var(--color-green);
}

.red-text {
    color: var(--color-red);
}

.yellow-text {
    color: var(--color-yellow);
}

.orange-text {
    color: var(--color-orange);
}

.cyan-text {
    color: var(--color-cyan);
}

.blink-text {
    animation: blinker 1s linear infinite;
}

.font-small {
    font-size: var(--fontSizeDefault);
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@font-face {
    font-family: "RobotoMono-Light";
    src: url("/Fonts/RobotoMono-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

ingame-ui#FpmPanel.hideui ingame-ui-header {
    display: none !important
}

ingame-ui#FpmPanel.hideui ingame-ui-header .title {
    display: none !important
}

ingame-ui#FpmPanel.hideui icon-button.Reduce,
ingame-ui#FpmPanel.hideui icon-button.Extern,
ingame-ui#FpmPanel.hideui icon-button.Detach,
ingame-ui#FpmPanel.hideui icon-button.Close {
    display: none !important
}
